{% extends 'navbar.html' %}

{% block title %}

| Forgot Password

{% endblock %}

{% block content %}

<div id="contentdata">
    {% csrf_token %}
    <div class="myflex r-myflex-bg myflex-dim-whole">
    <input type="email" placeholder="Enter Your E-mail" id="emailforgotpassword" class="inputfield" autofocus>
    <button type="button"class="btn btn-success" onclick="forgotpasswordrequest()" id="fpasslinkbutton">Get Link</button>
    </div>
</div>

<script>
    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    function is_valid_email(emailid){
        pattern = /([a-zA-Z0-9\.\-])+([@]){1}[a-z]+[\.]{1}[a-z]{2,3}$/ // this is the regular expression for validating the email of the user
        return pattern.test(emailid)
    }
    function forgotpasswordrequest() {
        var form = new FormData()
        var emailid = document.getElementById('emailforgotpassword').value
        if (is_valid_email(emailid)) {
            document.getElementById("fpasslinkbutton").disabled = true
            form.append("emailforgotpassword", emailid)
            var xhttp = new XMLHttpRequest()
            xhttp.onload = function () {
                document.getElementById("contentdata").innerHTML = this.responseText
            }
            xhttp.open("POST", "/forgotpassword/", true)
            xhttp.setRequestHeader("X-CSRFToken", csrftoken)
            xhttp.send(form)
        }
        else{
            document.getElementById("correctema ilnotification").disabled = false
        }
    }
</script>

{% endblock %}