{% extends 'navbar.html' %}

{% block title %}

 | Reset Password

{% endblock %}

{% block content %}

<form name="myform" action="/resetpassword/{{ resetid }}/" method="POST" onsubmit="return checkingForm()">
    {% csrf_token %}
    <input type="password" name="originalpassword" id="orginalpassword">
    <button type="button" onclick="seepassword()"><img src="/static/passwordeye.jpg" height="30" width="30"></button>
    <input type="password" name="confirmpassword" id="renteredpass">
    <input type="submit">
</form>
<script>
    var ispasswordtext = 0 // if type = text then it is 1 else it is 0
    function checkingForm(){
        if (confirmpassword()){
            return true
        }
        else{
            alert("Your have mistake somewere in writing the password")
            return false
        }
    }
    function confirmpassword(){
        var originalpassword = document.getElementById("orginalpassword").value
        var confirmpassword = document.getElementById("renteredpass").value
        if (originalpassword == confirmpassword){
            return true
        }
        else{
            return false
        }
    }
    function seepassword(){
        if (ispasswordtext == 0){
            document.getElementById("orginalpassword").type = "text"
            document.getElementById("renteredpass").type = "text"
            ispasswordtext = 1
        }
        else if(ispasswordtext == 1){
            document.getElementById("orginalpassword").type = "password"
            document.getElementById("renteredpass").type = "password"
            ispasswordtext = 0
        }
    }
    </script>

{% endblock %}